header {
    text-align: center;
    padding-top: 0.5em;

}
nav {
    background-color: #a5f0f2;
    text-align: center;
    
}
nav a {
    text-decoration: none;
    padding: 0.5em 2em 0.5em 2em;
    display: inline-block;
}
nav a:hover {
    transition: 0.5s;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0a82c3;
}

main {
    padding: 0.5em 2em 0.5em 2em;
}
header {
    background-image: url(../images/magnaga.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 72px;
    ;
    background-size: contain;
    color: #848786;
}
body{
    font-family: Calibri, Helvetica, sans-serif;
    background: linear-gradient(76deg, rgb(76, 228, 233) 0%,
     rgb(67, 67, 68) 19%, rgba(187, 222, 251, 1) 42%, rgb(228, 231, 235) 0%, rgb(170, 167, 167) 100%)
}
.hero{
    background-image: url(../images/329950649_911631633589110_596140230183211535_n.jpg);
    background-size: cover;
    height: 400px; 
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
}
.wrapper {
    background-color: #FFFFFF;
    max-width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.17);
}
footer {
    text-align: center;
    padding: 0.5em 2em 0.5em 2em;
}
.listing {
    padding: 0.5em 2em 0.5em 2em;
    background-color:#928e8e;
}

.card {
    border-radius: 14px;
    display: inline-block;
    vertical-align: text-top;
    margin: 1em;
    max-width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    overflow: hidden;
}

.card:hover {
    max-width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: 0% center;
    
}

.card-title {
    padding: 0.5em 1.3em 0.5em 0.7em;
    font-size: 1.8em;
    font-weight: 800;
}

.card-title a {
    color: #535455;
    text-decoration: none;
}

.card-body {
    padding: 0px 1.3em 1.3em 1.3em;
    height: 100px;
    overflow: auto;
    color: black;
}

.card p {
    display: inline-block;
    
}
.hero1{
    background-image: url(../images/cottages/cottage6.jpg);
    background-size: cover;
    height: 400px; 
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;
}
.listing1 {
    padding: 0.5em 2em 0.5em 2em;
    background-color:#cb68e4;
}

.card1 {
    border-radius: 14px;
    display: inline-block;
    vertical-align: text-top;
    margin: 1em;
    max-width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    overflow: hidden;
}
.card1:hover {
    max-width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card1 img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: 0% center;
}

.card-title1 {
    padding: 1.3em 1.3em 0.5em 0.7em;
    font-size: 1.8em;
    font-weight: 800;
}

.card-title1 a {
    color: #535455;
    text-decoration: none;
}

.card-body1 {
    padding: 0px 1.3em 1.3em 1.3em;
    height: 100px;
    overflow: auto;
    color: black;
    background-color: #44D3F3;
}

.card1 p {
    display: inline-block;
    
}

.hero2{
    background-image: url(../images/RoomRates/Roomhero.jpg);
    background-size: cover;
    height: 400px; 
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
}


.wrapper1 {
    max-width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.17);
    background: linear-gradient(76deg, rgb(76, 228, 233) 0%,
     rgb(67, 67, 68) 19%, rgba(187, 222, 251, 1) 42%, rgb(228, 231, 235) 0%, rgb(170, 167, 167) 100%)
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: left;
}

form {
    margin: 0 auto;
    width: 280px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #848786;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 767px) {
    .pc{
        display: none;
    }

   header{
    background-image: none;
   }
   nav a {
    font-size: 1em;

   }
    h1 {
      font-size: 24px; 
    }
    img {
      width: 100%; 
    }
  }
  @media only screen and (min-width:720px) {
    .mbl{
        display: none;
    }
    
  }









 
  

